doctype html
html(lang="en" class="antialiased")
  head
    title= "Homefilming Gallery"
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="author" content="Homefilming")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="twitter:card" content="player")
    meta(name="twitter:site" content="")
    meta(name="twitter:title" content="")
    meta(name="twitter:description" content="This is a sample video. When you implement, make sure all links are secure.")
    meta(name="twitter:image" content=defaultAsset.url)
    if video
      meta(name="twitter:player" content=pageUrl)
      meta(name="twitter:player:width" content="480")
      meta(name="twitter:player:height" content="480")
      meta(name="twitter:player:stream" content=video.url)
      meta(name="twitter:player:stream:content_type" content="video/mp4")
    meta(name="og:url" content=pageUrl)
    meta(name="og:title" content="")
    meta(name="og:description" content=address)
    meta(name="og:image" content=defaultAsset.url)
    meta(name="fb:app_id" content="1507022829407993")
    

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(rel="stylesheet" type="text/css" href="/gallery.css")
  body(class="font-source-sans")
    div#root
    script(type="text/javascript" src="/gallery_bundle.js")
  
